.input__block__type_text {
  margin: 20px 0 0;
  padding: 15px 0 90px 19px;
  width: 100%;
  height: 120px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
}

.input__block__type_text::placeholder {
  text-align: start;
}
