.inputs {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  background: rgba(237, 237, 237, 1);
}

@media screen and (max-width: 768px) {
  .inputs {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
}
